In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
pd.options.display.html.use_mathjax = False

# it is good practice to identify yourself
# change the user-agent as appropriate
headers = {"user-agent": "ScheduleBot/1.0"}
page = requests.get("https://www.indeed.com/jobs?q=computer%20programmer&l=Tolland%2C%20CT&vjk=0b257b36ce5cefe8", headers = headers)

if page.status_code != requests.codes.ok :
    print("Request was not successful, status code:", page.status_code)
    print("Hit enter to continue...")
    input()
    exit()

In [2]:
page

In [3]:
soup = BeautifulSoup(page.content, 'html.parser')
title = []
compname = []
comploc = []
compsal = []
i=0
while i < 10:
    jobtitlet = soup.find_all('td',class_ = 'resultContent')
    jobtitlep = soup.find_all('h2',class_ = 'jobTitle jobTitle-color-purple')
    jobtitle = jobtitlep[i].span.string.strip()
    print(jobtitle)
    title.append(jobtitle)
    jobt = soup.find_all('div',class_ = 'heading6 company_location tapItem-gutter companyInfo')
    tjob = jobt[i]
    companyname = tjob.find('span',class_ = 'companyName')
    companyname = companyname.string.strip()
    print(companyname)
    compname.append(companyname)
    companylocation = tjob.find('div',class_ = 'companyLocation')
    companylocation = companylocation.text.strip()
    print(companylocation)
    comploc.append(companylocation)
    companysalary = jobtitlet[i].find('div',class_ = 'attribute_snippet')
    if companysalary != None :
        companysalary = companysalary.text.split('an')
        companysalary = companysalary[0].strip()
        print(companysalary)
        compsal.append(companysalary)
    else :
        compsal.append('?')
        print('none')
    i+=1

Entry Level Computer Programmer
Revature
Hartford, CT+1 location
none
Computer Programmer
Masterman's, LLP
Connecticut
From $18
Systems Analyst/Programmer RPG/AS400
National Waste Associates
Glastonbury, CT 06033
$70,000 - $90,000 a year
Computer Programmer (Software Developer 2)
UnitedHealth Group
Hartford, CT 06152 (Frog Hollow area)
none
Software Developer 2
University of Connecticut
Storrs, CT 06269
Full-time
Systems Analyst
University of Connecticut
Storrs, CT 06269
Full-time
NX Admin/Developer - USA Based Remote
Connecticut Children's Medical Center
Hartford, CT 06106
none
Application Programmer/Database Developer I (#3823)
DXC Technology
Remote in East Hartford, CT
Full-time
Application Programmer/Analyst - Springfield Technical Commu...
EASTCONN
Hampton, CT 06247
$40,000 - $45,000 a year
Sr. Systems Analyst
Springfield Technical Community College
Springfield, MA 01105 (Metro Center area)
$85,000 - $90,000 a year

In [4]:
df= pd.DataFrame(data = {"Job Title":title, "Company Name":compname, "Company Location":comploc , "Company Salary":compsal})
df

,Job Title,Company Name,Company Location,Company Salary
0,Entry Level Computer Programmer,Revature,"Hartford, CT+1 location",?
1,Computer Programmer,"Masterman's, LLP",Connecticut,From $18
2,Systems Analyst/Programmer RPG/AS400,National Waste Associates,"Glastonbury, CT 06033","$70,000 - $90,000 a year"
3,Computer Programmer (Software Developer 2),UnitedHealth Group,"Hartford, CT 06152 (Frog Hollow area)",?
4,Software Developer 2,University of Connecticut,"Storrs, CT 06269",Full-time
5,Systems Analyst,University of Connecticut,"Storrs, CT 06269",Full-time
6,NX Admin/Developer - USA Based Remote,Connecticut Children's Medical Center,"Hartford, CT 06106",?
7,Application Programmer/Database Developer I (#...,DXC Technology,"Remote in East Hartford, CT",Full-time
8,Application Programmer/Analyst - Springfield T...,EASTCONN,"Hampton, CT 06247","$40,000 - $45,000 a year"
9,Sr. Systems Analyst,Springfield Technical Community College,"Springfield, MA 01105 (Metro Center area)","$85,000 - $90,000 a year"